

<div class="container myContainer">
    <h2>Details</h2>

    <div *ngIf="menu" class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="card myCard m-5">
            <img src="{{menu.image}}" class="card-img-top" alt="{{menu.title}}">
            <div class="card-body">
              <h5 class="card-title">{{menu.title}}</h5>
              <p class="card-text">{{menu.price| currency}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{menu.description1}}</li>
            </ul>
            <div class="card-body">
                <button (click)="addToOrder()" class="btn btn-outline-success">Order</button>
            </div>
        </div>
    </div>
</div>
