
<div class="container">
    <footer>
        <div class="footer-navigation">
            <div class="footer-container">
                <div class="foot-links">
                        <p>Address</p>
                        <p>Schulerstraße 18 | 1010 Wien</p>
                        <p> Tel.: +43 x xxx xx xx</p>
                </div>
            </div>
            <div class="footer-container">
                <div class="foot-copyright">
                     <p>&copy; 2023 Copyright: BarnoMamadzhanova</p>
                </div>
            </div>
          </div>
    </footer>
</div>
